#post-modal {
    width: 120vh;
    height: 80vh;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}
#post-modal-left {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#post-modal-left img {
    width: 100%;
    height: auto;
}
#post-modal-right {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}
#post-modal-top-bar {
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: var(--sp-border);
}
#post-modal-top-bar img {
    height: 32px;
    width: 32px;
    cursor: pointer;
}
.post-modal-profile-bar {
    display: flex;
    align-items: center;
    gap: 5px;
}
.dot-menu {
    cursor: pointer;
}
.comment-section {
    height: 92%;
    overflow-y: scroll;
}

.comment-post-section {
    height: 8%;
}
