#profile-page {
    margin: auto;
    width: 975px;
    box-sizing: border-box;
}
div.profile-info {
    display: flex;
    justify-content: center;
    gap: 2vw;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: var(--sp-border);
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: right;
}

.main-tab button {
    all: unset;
    height: 30px;
    cursor: pointer;
}
.edit-profile button{
    border: var(--sp-border);
    height: 16px;
    border-radius: 3px;
    padding: 5px 10px;
}
.middle-tab {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
div.main-tab h2 {
    margin-left: 0;
}
.main-tab > div {
    display: flex;
    align-items: center;
    gap: 20px;
}
button.follow-button {
    background: var(--sp-button-blue);
    height: 24px;
    width: 70px;
    border-radius: 4px;
    padding: 2px 6px;
    text-align: center;
    color: white;
    font-weight: 500;
}

/*  */

#posts-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -1px;
    gap: 5px;
    width: 80px;
    border-top: solid 1px black;
}

/* Area that displays all post images */

#all-posts {
    width: 976px;
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    margin: auto;
}
.single-post-image img{
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 293px;
    height: 293px;
    object-fit: cover;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    section#profile-page {
        width: 100%;
    }
    div.image-div {
       margin-top: 2vh;
    }
    img.profile-image {
        width: 15vw;
        height: 15vw;
        margin-top: 0;
        margin-bottom: 0;
    }
    div.divider {
        width: 0;
    }
    div#all-posts {
        display: inline-flex;
        width: 100%;
        justify-content: center;
        margin: auto;
    }
    div.single-post-image img{
        width: 28vw;
        height: 28vw;
    }
}
